/* Layout scoped styles */

a {
  color: #48beda;
}

a:hover {
  color: #35a8c2;
}

.btn-primary {
  color: #fff;
  background-color: #48beda;
  border-color: #35a8c2;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #48beda;
  border-color: #35a8c2;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
